@import 'normalize.css';

$primary-color: #696A6D;
$secondary-color: #DAE0E8;


a:link, a:visited, a:hover, a:active {
    color: $primary-color;
    text-decoration: underline;
}

body {
    font-family: 'Verdana', sans-serif;
    color: #111;
    background-color: $secondary-color;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    margin: 1rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: $primary-color;
    margin: .4rem;
}

header {
    background-color: #FFF;

    div#logo {
        text-align: center;
        padding-top: 10px;
        margin: 0 auto;
        width: 56px;

        img {
            max-width: 100%;
        }
    }

    nav {
        padding: 1.2rem;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

div#homepage-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div.program {
        text-align: center;
        margin: 1rem;

        a {
            position: relative;

            img {
                border-radius: 1rem;
            }
        }
    }
}

section#main {
    margin: 2rem;

    div.image {
        text-align: center;

        img {
            max-width:100%;
            border-radius: 1rem;
        }
    }
}